{{ define "content" }}
<div>
    <h1>Online Resume Generator</h1>
    <p>Skip the hustle, create and save resumes effortlessly with our intuitive Online Resume Generator.</p>
    <div>
        <a hx-get="/auth/login/" hx-target="#app-area">Create Your Resume</a>
    </div>
    {{ block "user_list" . }}
        This is a user list placeholder
    {{ end }}
    <div>
        <span>Developed By: </span>
        <a href="https://mugisathedev.netlify.app/"><i class="fa fa-globe"></i> Mugisa</a>
    </div>
</div>
{{ end }}