<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Resume Generator</title>
    <link rel="stylesheet" href="/static/assets/icons/font-awesome/css/font-awesome.min.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <section id="app-area">
    {{ block "content" . }}
        This is a placeholder
    {{ end }}
    </section>
</body>
</html>